[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
sympy = "*"
matplotlib = "*"
scikit-learn = "*"
seaborn = "*"
scipy = "*"
graphviz = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.10"
